@model QLKS.Models.KHUVUC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/QuanLyLayout.cshtml";
}



<h3>Bạn muốn Xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANH)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/img/"+  Model.ANH)" width="120px" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Trở Về", "KhuVuc")
</div>
    }
</div>
