@model QLKS.Models.KHUVUC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/QuanLyLayout.cshtml";
}

<h2>Chi Tiết Khu Vực</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANH)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/img/"+  Model.ANH)" width="120px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAKV }) |
    <div>
        @Html.ActionLink("Trở Về", "KhuVuc")
    </div>

</p>
