@using QLKS.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QLKS.Models.KHUVUC>

@{
    ViewBag.Title = "KhuVuc";
    Layout = "~/Views/Admin/QuanLyLayout.cshtml";
}

<h2>Quản Lý Khu Vực</h2>

<p>
    @Html.ActionLink("Create New", "taomoi")
</p>
<table class="table" border="1">
    <tr>

        <th style="width:100px"> Tên  Khu vực  </th>
        <th style="width:100px"> Ảnh  </th>
        <th style="width:200px"> Thanh Công Cụ </th>



    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => i.TENKV)
            </td>
            <td>
                <img src="@Url.Content("~/Content/img/" +  i.ANH)" width="120px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = i.MAKV }) |
                @Html.ActionLink("Details", "Details", new { id = i.MAKV }) |
                @Html.ActionLink("Delete", "Delete", new { id = i.MAKV })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("KHUVUC", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
