
@using QLKS.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QLKS.Models.KHUVUC>

@{
    ViewBag.Title = "KhuVuc";
    Layout = "~/Views/Admin/QuanLyLayout.cshtml";
}




<h2>Quản Lý Khu Vực</h2>


<p>
    @Html.ActionLink("THÊM MỚI", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">  Mã Khu Vực </th>
        <th style="width:100px">  Tên Khu Vực  </th>
        <th style="width:200px">  </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENKV)
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MAKV }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MAKV }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MAKV })
            </td>
        </tr>
    }
</table>
@* Tao liên kết các trang  *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("KhuVuc", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
