
@model QLKS.Models.Phong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutDH.cshtml";
}



<div class="Chitietphong">
    <div class="ChitietphongSlide">
        <td>

            <img src="@Url.Content("~/Content/img/" +  Model.ANH)" width="600" style="border-radius: 4%" />
        </td>
        <h2>Chi Tiết Phòng</h2>
        <br />
        <div class="khungchitiet">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MAKV)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MAKV)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MaLP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaLP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaPhong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaPhong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SoPhong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoPhong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mota)
                </dd>





            </dl>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="Datmua">
    <a href="@Url.Action("ThemTHANHTIEN", "THANHTOAN", new { @iMASP= @Model.MaPhong, @strURL=Request.Url.ToString() })" class="list-group-item">
        Thêm Vào Giỏ
    </a>
</div>